<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Bankingapp</display-name>
    <servlet>
        <description/>
        <display-name>Homeservlet</display-name>
        <servlet-name>Homeservlet</servlet-name>
        <servlet-class>Homeservlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Transaction</display-name>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>Transaction</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Updatepass</display-name>
        <servlet-name>Updatepass</servlet-name>
        <servlet-class>Updatepass</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Updateprofile</display-name>
        <servlet-name>Updateprofile</servlet-name>
        <servlet-class>Updateprofile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homeservlet</servlet-name>
        <url-pattern>/Homeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatepass</servlet-name>
        <url-pattern>/Updatepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updateprofile</servlet-name>
        <url-pattern>/Updateprofile</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
